<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>logica</display-name>
    <servlet-name>logica</servlet-name>
    <servlet-class>logica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logica</servlet-name>
    <url-pattern>/logica</url-pattern>
  </servlet-mapping>
  <display-name>ExamenTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Navegacion</display-name>
    <servlet-name>Navegacion</servlet-name>
    <servlet-class>Navegacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Navegacion</servlet-name>
    <url-pattern>/Navegacion</url-pattern>
  </servlet-mapping>
</web-app>